div.flex-cont{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

div.flex-cont-vert{
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.type-pills{
  display: flex;
  flex-direction: column;
}

div.time-pills{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 65%
}

div.plantSelect-registerButton{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a.type-pill{
  margin: 3px;
}

a.badge{
  font-size: 100%;
}

a.badge-light {
  border: 1px solid #e7e7e7;
  background-color: #e8e8e8;
}

button#registerPlant{
  display: none;
  margin-left: 20px;
}

#plant-select{
  display: inline-block;
  text-align: center;
  border-radius: 20px;
}

#title{
  margin-right: 3px;
}

text.axisLabel{
  font-size: 1.4em;
}

g.axis g.tick text{
  font-size: 1.5em;
}

svg {
  margin: 0 auto;
  display: block;
  margin-bottom: 1.2em;
  margin-left: 1.2em;
}

.tick line{
  stroke: #ccc;
  stroke-dasharray: 10, 5;
}

a:hover{
  cursor: pointer;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.tick:nth-child(2n) text {
    visibility: hidden;
}

div.modal input[placeholder='min']{
  margin-right: 0.25em;
}

div.modal input[placeholder='max']{
  margin-left: 0.25em;
}

div.modal hr{
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  opacity: 0.25;
}
