div.flex-cont{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

div.flex-cont-vert{
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.type-pills{
  display: flex;
  flex-direction: column;
}

div.time-pills{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 65%;
}

#slider-range{
  margin-top: 0.35em;
  width: 50%;
}

div.time{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

div.plantSelect-registerButton{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a.badge{
  margin: 3px;
  font-size: 100%;
}

a.badge-light {
  border: 1px solid #e7e7e7;
  background-color: #e8e8e8;
}

button#registerPlant{
  display: none;
  margin-left: 20px;
}

#plant-select{
  display: inline-block;
  text-align: center;
  border-radius: 10px;
}

#title{
  font-size: 2em;
}

text.axisLabel{
  font-size: 1.4em;
}

g.axis g.tick text{
  font-size: 1.5em;
}

svg {
  margin: 0 auto;
  display: block;
  margin-bottom: 1.2em;
  margin-left: 1.2em;
}

.tick line{
  stroke: #ccc;
  stroke-dasharray: 10, 5;
}

a:hover{
  cursor: pointer;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.tick:nth-child(2n) text {
    visibility: hidden;
}

div.modal input[placeholder='min']{
  margin-right: 0.25em;
}

div.modal input[placeholder='max']{
  margin-left: 0.25em;
}

div.modal hr{
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  opacity: 0.25;
}

div.alert{
  display: flex;
  justify-content: space-between;
  align-content: center;
}

a.notifications:hover{
  background-color: white;
  cursor: default;
}

input#email{
  cursor: pointer;
}

/* Remove scrollbar */
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

@media only screen and (max-width: 987px) {
  div.flex-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
  }

  div.type-pills{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
}


@media only screen and (max-width: 450px) {
  div.type-pills{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  div.time-pills{
    display: flex;
    flex-direction: column;
  }
}

div.container .jumbotron{
  -webkit-box-shadow: 11px 10px 14px 3px rgba(189,189,189,0.67);
  -moz-box-shadow: 11px 10px 14px 3px rgba(189,189,189,0.67);
  box-shadow: 11px 10px 14px 3px rgba(189,189,189,0.67);
}
