<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- FAVICON -->
    <link rel="icon" href="https://res.cloudinary.com/dkvqve4ln/image/upload/v1583073310/encouragemint/favicon.ico" type="iamge/x-icon">

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="/css/landing.css" rel="stylesheet">

    <!-- TITLE -->
    <title>encourageMint</title>
  </head>
  <body>
    <a href="/auth/google">
      <div id="landing-header">
     		<h1>encourageMint</h1>
        <h5>click to begin</h5>
      </div>

      <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </a>
  </body>
</html>
